/* For testing only */

/**:not(body):not(html):not(.wrapper){
  box-sizing:border-box;
  border:1px dashed #000;
}

.columns{
  min-height: 100px;
}*/

/* End for testing */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
  background-color: #f4a1a5;
  color: white;
}
.box-div * {
  height: 22vh;
  margin-top: 5%;
}
.blurbs li {
  margin-top: 5%;
}
.icons li{
  margin-top: 5%;
}
ul {
  list-style: none;
}
.icons img {
  height: 50px;
  margin-right: 10px;
}

h3 {
  display: inline-flex;
  font-size: 33px;
  vertical-align: top;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.circle-img img {
  border-radius: 50%;
  max-width: 100%;
  height:auto;
}
.info * {
  vertical-align: middle;

}
.the-other-secret {
  display: none;
}
@media screen and (min-width: 768px) {
  .box-div * {
    height: 22vh;
    margin-top: 0;
  }
  .the-other-secret {
    display: none;
  }
}

@media screen and (min-width: 992px) {

  .box-div * {
    height: 20vh;
    margin-top: 5%;
    display: none;
  }
  .the-other-secret {
    display: block;
  }
  .the-other-secret img {
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .box-div * {
    display: none;
  }
  .the-other-secret {
    display: block;
  }
  .the-other-secret img {
    width: 100%;
  }
}
